section
    -var pr_list1=['','Колорадо','Мясная','Цезарь','Пепперони'];
    -var pr_desc1=['','Моцарелла, куриная грудка, шампиньоны, томаты, соус бешамель.','Соус томатный, моцарелла, салями, колбаски охотничьи, ветчина.','Моцарелла, пармезан, салат айсберг, куриная грудка, бекон, томаты черри, соус бешамель.','Соус томатный, моцарелла, халапеньо, пепперони.'];
    .container
        .h2.s_title Пицца
        .row.products_list
            -for(var p1=1;p1<=4;p1++)
                .col
                    .product_item
                        .product_item_img
                            img(src="img/examples/pizza_"+p1+".png")
                            if p1===1
                                .label.new Новинка
                            else if p1===2
                                .label.hit Хит продаж
                            else if p1===3
                                .label.discount Акция
                        .product_item_body
                            div
                                a.product_item_name(href="#")=pr_list1[p1]
                                .product_item_excerpt=pr_desc1[p1]
                            div
                                .variations
                                    .item 25 см, 420 г
                                    .item 30 см, 620 г

                                .price-add_to_basket
                                    .price
                                        .item 12,20 руб.
                                        .item 15,20 руб.
                                    a.add_to_basket(href="#")
                                        .text
                                            span В корзину
                                            .price
                                                .item 12,20 руб.
                                                .item 15,20 руб.


        .text_center
            button.load_more
                span Загрузить ещё



section
    -var pr_list2=['','Нокаут','Фиш Бургер','Ништяк','Шеф-Гриль с сыром'];
    -var pr_desc2=['','Яйцо, большая говяжья котлета, свежий помидор, маринованные огурчики, сыр чеддер, большая крафтовая булочка','Малая булочка бриошь собственной выпечки, соус, маринованный огурец, филе рыбное, сыр Чеддер, салат Айсберг','Большая булочка бриошь собственной выпечки, большая котлета из охлажденной говядины, салат Айсберг, томат свежий, луковые кольца, кетчуп, соус.','Большая булочка бриошь собственной выпечки, котлета из охлажденной говядины, два ломтика сыра Чеддер, маринованный огурец, кетчуп, репчатый лук, томат, соус'];
    .container
        .h2.s_title Бургеры
        .row.products_list
            -for(var p2=1;p2<=4;p2++)
                .col
                    .product_item
                        .product_item_img
                            img(src="img/examples/burger_"+p2+".png")
                        .product_item_body
                            div
                                a.product_item_name(href="#")=pr_list2[p2]
                                .product_item_excerpt=pr_desc2[p2]
                            div
                                .price-add_to_basket
                                    .price
                                        .item 5,5#{p2} руб.

                                    a.add_to_basket(href="#")
                                        .text
                                            span В корзину
                                            .price
                                                .item 12,20 руб.
                                                .item 15,20 руб.

        .text_center
            button.load_more
                span Загрузить ещё




section
    -var pr_list3=['','Биф Ролл','Веган Ролл','Чикен Ролл','Салмен Ролл'];
    -var pr_desc3=['','Говяжья котлета, салат, свежий помидор, соленый огурец, красный лук, тортилья, соус ранч, сырный соус','Малая булочка бриошь собственной выпечки, соус, маринованный огурец, филе рыбное, сыр Чеддер, салат Айсберг','Большая булочка бриошь собственной выпечки, большая котлета из охлажденной говядины, салат Айсберг, томат свежий, луковые кольца, кетчуп, соус.','Большая булочка бриошь собственной выпечки, котлета из охлажденной говядины, два ломтика сыра Чеддер, маринованный огурец, кетчуп, репчатый лук, томат, соус'];
    .container
        .h2.s_title Роллы (шаурма)
        .row.products_list
            -for(var p3=1;p3<=4;p3++)
                .col
                    .product_item
                        .product_item_img
                            img(src="img/examples/rolls_"+p3+".png")
                        .product_item_body
                            div
                                a.product_item_name(href="#")=pr_list3[p3]
                                .product_item_excerpt=pr_desc3[p3]
                            div
                                .price-add_to_basket
                                    .price
                                        .item 5,5#{p3} руб.
                                    if p3===1
                                        .amount
                                            span.down -
                                            input(type="text" value="1")
                                            span.up +

                                    else
                                        a.add_to_basket(href="#")
                                            .text
                                                span В корзину
                                                .price
                                                    .item 12,20 руб.
                                                    .item 15,20 руб.

        .text_center
            button.load_more
                span Загрузить ещё



section
    -var pr_list3=['','Биф Ролл','Веган Ролл','Чикен Ролл','Салмен Ролл'];
    -var pr_desc3=['','Говяжья котлета, салат, свежий помидор, соленый огурец, красный лук, тортилья, соус ранч, сырный соус','Малая булочка бриошь собственной выпечки, соус, маринованный огурец, филе рыбное, сыр Чеддер, салат Айсберг','Большая булочка бриошь собственной выпечки, большая котлета из охлажденной говядины, салат Айсберг, томат свежий, луковые кольца, кетчуп, соус.','Большая булочка бриошь собственной выпечки, котлета из охлажденной говядины, два ломтика сыра Чеддер, маринованный огурец, кетчуп, репчатый лук, томат, соус'];
    .container
        .h2.s_title Салаты
        .row.products_list
            -for(var p3=1;p3<=4;p3++)
                .col
                    .product_item
                        .product_item_img
                            img(src="img/examples/salad.png")
                        .product_item_body
                            div
                                a.product_item_name(href="#")=pr_list3[p3]
                                .product_item_excerpt=pr_desc3[p3]
                            div
                                .price-add_to_basket
                                    .price
                                        .item 5,5#{p3} руб.
                                    if p3===1
                                        .amount
                                            span.down -
                                            input(type="text" value="1")
                                            span.up +

                                    else
                                        a.add_to_basket(href="#")
                                            .text
                                                span В корзину
                                                .price
                                                    .item 12,20 руб.
                                                    .item 15,20 руб.

        .text_center
            button.load_more
                span Загрузить ещё


section
    -var pr_list3=['','Биф Ролл','Веган Ролл','Чикен Ролл','Салмен Ролл'];
    -var pr_desc3=['','Говяжья котлета, салат, свежий помидор, соленый огурец, красный лук, тортилья, соус ранч, сырный соус','Малая булочка бриошь собственной выпечки, соус, маринованный огурец, филе рыбное, сыр Чеддер, салат Айсберг','Большая булочка бриошь собственной выпечки, большая котлета из охлажденной говядины, салат Айсберг, томат свежий, луковые кольца, кетчуп, соус.','Большая булочка бриошь собственной выпечки, котлета из охлажденной говядины, два ломтика сыра Чеддер, маринованный огурец, кетчуп, репчатый лук, томат, соус'];
    .container
        .h2.s_title Салаты
        .row.products_list
            -for(var p3=1;p3<=4;p3++)
                .col
                    .product_item
                        .product_item_img
                            img(src="img/examples/desert.png")
                        .product_item_body
                            div
                                a.product_item_name(href="#")=pr_list3[p3]
                                .product_item_excerpt=pr_desc3[p3]
                            div
                                .price-add_to_basket
                                    .price
                                        .item 5,5#{p3} руб.
                                    if p3===1
                                        .amount
                                            span.down -
                                            input(type="text" value="1")
                                            span.up +

                                    else
                                        a.add_to_basket(href="#")
                                            .text
                                                span В корзину
                                                .price
                                                    .item 12,20 руб.
                                                    .item 15,20 руб.

        .text_center
            button.load_more
                span Загрузить ещё


.seo_text
    .container
        .row
            .col
                .h2 Доставка пиццы в Гомеле
                p Хотите. быстро подкрепиться в офисе или устроить лучший романтический вечер со второй половинкой? Для этого просто оформите заказ пиццы из ресторана «Кактус» в Гомеле.
                p Мы найдем путь к сердцу каждого гурмана. Любителям необычных сочетаний придется по вкусу «Гавайская» с ананасом и ветчиной, а «Мясное удовольствие» понравится людям, обожающим сырокопченые колбаски, ароматный бекон и свинину.
                p Творческим личностям, открытым для всего нового, стоит попробовать вкусную пиццу по собственному рецепту. При этом вам не придется идти на кухню. Достаточно воспользоваться онлайн-конструктором на сайте. Если вы еще не готовы к смелым экспериментам, измените ингредиенты в блюдах из меню.
                a.read_more(href="#") Подробнее
            .col
                .h2 Зона доставки ограничена
                img(src="img/examples/ectangle49.png")



